.heading{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.accordion {
  width: 50%;
  margin: auto;
  border-radius: 5px;
}
.fruit-name{
  color: white;
}
.accordion-item {
  margin-top: 20px;
  border: 1px solid #ddd;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #2196f3;
}

.accordion-header h2 {
  margin: 0;
  font-size: 18px;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}

.arrow-img {
  width: 18px;
  height: 18px;
  background-color: #bbdefb;
  border-radius: 50px;
  padding: 10px;
}
